<div class="grid-detail-container">
  <div class="red-icon-model">
    <img
      src="../../../assets/chair.png"

       class="red-img-model"
      alt=""
    />
    <p>Reserved Seats</p>
  </div>
  <div class="green-icon-model" >
    <img
      src="../../../assets/chair.png"
      class="green-img-model"
      alt=""
    />
    <p>Available Seats</p>
  </div>
</div>
<div class="grid">
  <div
    class="grid-item"
    *ngFor="let item of data"
    [ngStyle]="{
      'background-color': item.isBooked ? 'red' : 'rgb(75,181,67)',
      color: item.isBooked ? 'white' : ''
    }"
  >
    <img
      class="seat-image"
      src="../../../assets/chair.png"
      alt=""
    />
    <p class="seat-number">{{ item.id }}</p>
  </div>
</div>
