.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 350px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.seat-image {
  max-width: 100%;
  border-radius: 5px;
  border: none;
}

.seat-number {
  padding: 0;
  margin: 0;
  background: transparent;
}

.grid-item {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  height: auto;
  text-align: center;
}
.grid-detail-container {
  display: flex;
  justify-content: center;
}
.red-icon-model {
  display: flex;
  gap: 10%;
  align-items: center;
}
.green-icon-model {
  display: flex;
  gap: 5%;
  align-items: center;
}
.green-img-model {
  border-radius: 5px;
  max-width: 20%;
  height: auto;
  background-color: rgb(75, 181, 67);
}
.red-img-model {
  border-radius: 5px;
  max-width: 20%;
  height: auto;
  background-color: red;
}
@media (max-width: 920px) and (min-width: 0px) {
  .grid {
    max-width: 90%;
    justify-content: center;
    margin: auto;
  }
  .grid-detail-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
